.home {
  height: 200vh;
  width: 100%;
}

.home-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding-top: 80px;
}

.home-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background: #f3f6f9;
}
